#sequencer {
    
    display: grid;
    grid-template-columns: repeat(16, 40px);
    grid-gap: 5px;
}

button {

    margin: 5px;

}

.cell {

    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.cell.active{

    background-color: #0d6efd;
}

#controls {

    margin-top: 20px;
    
}